* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(191, 167, 33);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.first {
  color: red;
}

#your-name {
  background-color: rgb(136, 155, 77);
  border: 5px solid #444;
}
